[Unit]
Description=Location Tracker Location Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/location-tracker/location
ExecStart=java -jar /opt/location-tracker/location/location-tracker-location.jar
Restart=on-failure
User=location
Group=location

[Install]
WantedBy=multi-user.target
