[Unit]
Description=Location Tracker User Service
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/location-tracker/user
ExecStart=java -jar /opt/location-tracker/user/location-tracker-user.jar
Restart=on-failure
User=location
Group=location

[Install]
WantedBy=multi-user.target
